body{
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
}
.introduction{
    background-color: #1f2937;
    padding: 0 55px;
    padding-bottom: 70px;
    padding-top: 10px;
}
.header{
    display: flex;
    justify-content:space-between;

}
.headerLogo img{
width: 30px;
height: auto;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    margin: 0 5px;
}
a{
    text-decoration: none ;
    color: #E5E7EB ;
    font-size: 18px;
}
.inforAboutMessi{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    flex-wrap: wrap;
    color: #F9FAF8;
    
}
.inforAboutMessi div{
    max-width: 500px;
    margin-bottom: 25px;
}
.inforAboutMessi h1{
    font-size: 48px;

}
.inforAboutMessi img{
    max-width: 600px;
    height: auto;
  
}
.clubsMessi{
    color:#2b3849;
    padding: 20px 70px
}
h2{
    flex-grow: 1;
    text-align: center;
}
.clubsMessiSubContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.clubsMessiSubContainer div{
    width: 200px;
}
.clubsMessiSubContainer div img{
    width: 200px;
    height: 200px;
}
.clubsMessiSubContainer div p {
    text-align: center;
}
